services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib
    container_name: otel-collector
    restart: unless-stopped
    command: ["--config=/etc/otelcol-contrib/config.yaml"]
    volumes:
      - {{ otel_collector_dir }}/otel-collector-config.yml:/etc/otelcol-contrib/config.yaml
      - /:/hostfs:ro
      - /proc:/hostfs/proc:ro
      - /sys:/hostfs/sys:ro
    pid: "host"
    network_mode: "host"