{
    servers {
        trusted_proxies static private_ranges
        client_ip_headers X-Forwarded-For X-Real-IP
    }
    metrics {
        per_host
    }
}

(admin_redir) {
       @admin {
               path /admin*
               not remote_ip private_ranges
       }
       redir @admin /
}

vault.catocat.org {
    tracing {
        span vault
    }

    tls equidesp@gmail.com
    encode zstd gzip
    import admin_redir
    reverse_proxy 10.10.0.2:8081 {
        header_up X-Real-IP {remote_host}
    }
}

immich.catocat.org {
    tracing {
        span immich
    }
    tls equidesp@gmail.com
    encode zstd gzip
    reverse_proxy http://10.10.0.3:2283
}
